<div class="container">
  <div class="row">
    <fieldset class="dropdown-item has-success">
      <label><small>Title customize (plain)</small></label>
      <input class="form-control" type="text" name="funnel[][title]" value="<%= params[:title] %>" placeholder="(Title customize)">
    </fieldset>
  </div>
</div>
<%= render "sibyl/events/filter_form" %>
<div class="container">
  <div class="row">
    <fieldset class="dropdown-item">
      <label><small>Operation</small></label><br>
      <%= select_tag "funnel[][operation]", options_for_select({ "Count events": "count", "Count unique properties": "uniq", "Group unique properties": "group", "Minimum of property": "min", "Maximum of property": "max", "Average of property": "avg", "Sum of property": "sum" }, params[:operation]), class: "form-control form-control-sm c-select" %>
    </fieldset>
  </div>
  <div class="row">
    <fieldset class="dropdown-item">
      <label><small>Property for operation (plain, comma, list)</small></label>
      <input class="form-control form-control-sm" type="text" name="funnel[][property]" value="<%= params[:property] %>" placeholder="(Property for operation)">
    </fieldset>
  </div>
  <!--
  <div class="row">
    <fieldset class="dropdown-item">
      <label><small>Group by property (plain, comma, list)</small></label>
      <input class="form-control form-control-sm" type="text" name="group" value="<%= params[:group] %>" placeholder="(Group by property)">
    </fieldset>
  </div>
  -->
  <div class="row">
    <fieldset class="dropdown-item">
      <label><small>Interval (minute, hour, day, week, month, quarter ...)</small></label>
      <input class="form-control form-control-sm" type="text" name="funnel[][interval]" value="<%= params[:interval] %>" placeholder="(Interval to group by)">
    </fieldset>
  </div>
</div>
