<% content_for :navbar_right do %>
  <div class="nav-item dropdown">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add Metric</a>
    <div class="dropdown-menu dropdown-menu-right" style="min-width: 400px">
      <form class="form" id="panelParamsForm">
        <div id="funnelForms">
          <%= render "funnel_form" %>
        </div>
        <div class="dropdown-divider"></div>
        <fieldset class="form-group">
          <button type="button" class="btn btn-primary btn-sm pull-xs-left m-x-1" onclick="addFunnelForm(); return false;">Funnel</button>
          <button type="button" class="btn btn-success pull-xs-right m-x-1" onclick="appendPanelParams(); return false;">Add!</button>
          <button type="button" class="btn btn-info pull-xs-right m-x-1" id="editPanelButton" onclick="editPanelParams(); return false;">Edit!</button>
        </fieldset>
      </form>
    </div>
  </div>
<% end %>

<script>
  var eventsPath = "<%= events_path.html_safe %>";
  var panelParams = <%= JSON.generate(@panels || []).html_safe %>;
  var panelHTML = "<%= escape_javascript(render partial: 'panel') %>";
  var funnelForm = "<%= escape_javascript(render partial: 'funnel_form') %>";
</script>

<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <%# <div id="panels" class="card-columns"> %>
  <div id="panels" class="row">
  </div>
</div>
