<% content_for :navbar_right do %>
  <div class="nav-item dropdown">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add Metric</a>
    <div class="dropdown-menu dropdown-menu-right" style="min-width: 400px">
      <form class="form" id="panelParamsForm">
        <div class="container">
          <div class="row">
            <fieldset class="dropdown-item has-success">
              <label for="title"><small>Title customize (plain)</small></label>
              <input class="form-control" type="text" name="title" value="<%= params[:title] %>" placeholder="(Title customize)">
            </fieldset>
          </div>
        </div>
        <%= render "sibyl/events/filter_form" %>
        <div class="container">
          <div class="row">
            <fieldset class="dropdown-item">
              <label for="operation"><small>Operation</small></label><br>
              <%= select_tag "operation", options_for_select({ "Count records": "count" }, params[:operation]), class: "form-control form-control-sm c-select" %>
            </fieldset>
          </div>
          <!--
          <div class="row">
            <fieldset class="dropdown-item">
              <label for="group_by"><small>Group by (property)</small></label>
              <input class="form-control form-control-sm" type="text" name="group_by" value="<%= params[:group_by] %>" placeholder='(Group by property)'>
            </fieldset>
          </div>
          -->
          <div class="dropdown-divider"></div>
          <fieldset class="form-group">
            <button type="button" class="btn btn-success btn-sm pull-xs-right m-x-1" onclick="appendPanelParams(); return false;">Add</button>
          </fieldset>
        </div>
      </form>
    </div>
  </div>
<% end %>

<script>
  var eventsPath = "<%= events_path.html_safe %>";
  var panelParams = <%= JSON.generate(@panels || []).html_safe %>;
  var panelHTML = "<%= escape_javascript(render partial: 'panel') %>";
</script>

<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <div class="card-columns">
  </div>
</div>
