<div class="container">
  <div class="row">
    <fieldset class="dropdown-item">
      <label for="kind"><small>Event kind (plain)</small></label>
      <input class="form-control" type="text" name="kind" value="<%= params[:kind] %>" placeholder="(Event kind)">
    </fieldset>
  </div>
  <div class="row">
    <fieldset class="dropdown-item">
      <label for="property"><small>Property (Comma, separated, list)</small></label>
      <input class="form-control form-control-sm" type="text" name="property" value="<%= params[:property] %>" placeholder="(Target property)">
    </fieldset>
  </div>
  <div class="row">
    <fieldset class="dropdown-item">
      <label for="target_value"><small>Value ("String quoted" / number)</small></label>
      <input class="form-control form-control-sm" type="text" name="value" value="<%= params[:value] %>" placeholder='(Filter property value)'>
    </fieldset>
  </div>
  <div class="row">
    <fieldset class="dropdown-item">
      <label for="previous"><small>Previous period (minutes)</small></label>
      <input class="form-control form-control-sm" type="text" name="previous" value="<%= params[:previous] %>" placeholder='(Previous period)'>
    </fieldset>
  </div>
  <div class="row">
    <fieldset class="dropdown-item col-sm-6">
      <label for="date_from"><small>Date from</small></label>
      <input class="form-control form-control-sm" type="text" name="date_from" value="<%= params[:date_from] %>" placeholder='(Date from)'>
    </fieldset>
    <fieldset class="dropdown-item col-sm-6">
      <label for="date_from"><small>to (yyyy-mm-dd)</small></label>
      <input class="form-control form-control-sm" type="text" name="date_to" value="<%= params[:date_to] %>" placeholder='(Date to)'>
    </fieldset>
  </div>
  <div class="row">
    <fieldset class="dropdown-item col-sm-6">
      <label for="limit"><small>Limit</small></label>
      <input class="form-control form-control-sm" type="text" name="limit" value="<%= params[:limit] %>" placeholder='(Limit results)'>
    </fieldset>
    <fieldset class="dropdown-item col-sm-6">
      <label for="limit"><small>Order by</small></label><br>
      <select class="form-control form-control-sm c-select" name="order" value="<%= params[:order] %>">
        <option value="desc">Descending</option>
        <option value="asc">Ascending</option>
      </select>
    </fieldset>
  </div>
</div>
