<div class="container">
  <div class="row">
    <fieldset class="dropdown-item">
      <label for="kind"><small>Event kind[s] (plain, comma, list)</small></label>
      <input class="form-control" type="text" name="funnel[][kind]" value="<%= params[:funnel]&.dig(0, :kind) %>" placeholder="(Event kind)">
    </fieldset>
  </div>
  <hr>
  <div class="filters-container">
    <% params[:funnel]&.dig(0, :filters)&.each_with_index do |_, i| %>
      <%= render "sibyl/events/filter_form_filter", i: i %>
    <% end %>
  </div>
  <button type="button" class="btn btn-primary btn-sm" onclick="$(this).parent().find('.filters-container').append('<%= escape_javascript(render partial: 'sibyl/events/filter_form_filter').gsub('"', "'") %>')">Add a filter</button>
  <hr>
  <div class="row">
    <fieldset class="dropdown-item">
      <label for="previous"><small>Previous period (5 days, 1 minute, 3hours ...)</small></label>
      <input class="form-control form-control-sm" type="text" name="funnel[][previous]" value="<%= params[:funnel]&.dig(0, :previous) %>" placeholder='(Previous period)'>
    </fieldset>
  </div>
  <div class="row">
    <fieldset class="dropdown-item col-sm-6">
      <label for="date_from"><small>Date from</small></label>
      <input class="form-control form-control-sm" type="text" name="funnel[][date_from]" value="<%= params[:funnel]&.dig(0, :date_from) %>" placeholder='(Date from)'>
    </fieldset>
    <fieldset class="dropdown-item col-sm-6">
      <label for="date_from"><small>to (yyyy-mm-dd)</small></label>
      <input class="form-control form-control-sm" type="text" name="funnel[][date_to]" value="<%= params[:funnel]&.dig(0, :date_to) %>" placeholder='(Date to)'>
    </fieldset>
  </div>
  <div class="row">
    <fieldset class="dropdown-item col-sm-6">
      <label for="limit"><small>Limit (number)</small></label>
      <input class="form-control form-control-sm" type="text" name="funnel[][limit]" value="<%= params[:funnel]&.dig(0, :limit) %>" placeholder='(Limit results)'>
    </fieldset>
    <fieldset class="dropdown-item col-sm-6">
      <label for="order"><small>Order by</small></label><br>
      <%= select_tag "funnel[][order]", options_for_select({ Newest: "desc", Oldest: "asc" }, params[:funnel]&.dig(0, :order)), class: "form-control form-control-sm c-select" %>
    </fieldset>
  </div>
</div>
