<% content_for :navbar_right do %>
  <div class="nav-item dropdown">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter</a>
    <div class="dropdown-menu dropdown-menu-right" style="min-width: 420px">
      <form action="" class="form">
        <%= render "sibyl/events/filter_form" %>
        <div class="dropdown-divider"></div>
        <fieldset class="form-group">
          <button type="submit" class="btn btn-success btn-sm pull-xs-right m-x-1">Go!</button>
        </fieldset>
      </form>
    </div>
  </div>
<% end %>

<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1 class="pull-sm-left">Listing Events</h1>
  <%= link_to "Export CSV", events_path(format: "csv", params: params.except(:action, :controller).to_unsafe_h), class: "pull-sm-right" %><br>
  <%= link_to "Event Kinds", kinds_events_path, class: "pull-sm-right" %>

  <table class="table">
    <thead>
      <tr>
        <th>Kind</th>
        <th>Occurred at</th>
        <th>Data</th>
        <th>Created at</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.kind %></td>
          <td><%= event.occurred_at %></td>
          <td><%= hash_to_list event.data %></td>
          <td><%= event.created_at %></td>
          <td><%= link_to 'Show', event, class: "btn btn-primary-outline btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
