<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @event.kind %>
</p>

<p>
  <strong>Occurred at:</strong>
  <%= @event.occurred_at %>
</p>

<p>
  <strong>Data:</strong>
  <%= nested_hash_to_list @event.data %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @event.created_at %>
</p>

<%= link_to 'Back', events_path %>
